<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="wrapper">
	  <div class="container" id="main">
	    <article id="content">
	      <header>
	        <h2>[[${vo.b_title}]]</h2>
	      </header>
	      <div class="row">
	        <div class="col-3 col-12-medium">
	          <span class="image fit">
	            <img th:src="${vo.b_thumbnail}" alt="운동건강 이미지">
	          </span>
			  
	        </div>
	        <div class="col-9 col-12-medium">
	          <section class="box">
				<div class="row-flex">
		            <ul class="col-6">
		             
		              <li><strong>판매자</strong> : [[${vo.usvo.u_s_com}]]</li>
		              <li><strong>위치</strong> : [[${vo.usvo.u_s_zone}]]</li>
		              <li><strong>카테고리</strong> : [[${vo.b_type}]]</li>
					  <li><strong>수업방식</strong> : [[${vo.b_prod_on_off}]]</li>
		              <li><strong>조회수</strong> : [[${vo.b_view_count}]]</li>
		              
		            </ul>
					<ul class="col-6">
					  <li th:each="bo,num:${vo.eovo}"><strong>옵션[[${num.index+1}]]</strong> : [[${bo.b_op_title}]] : [[${bo.b_op_price}]]원</li>
				    </ul>
					
				</div>
	          </section>
	        </div>
			<div class="col-12 col-12-medium">
	          <section class="box">
				<ul>
					<li><strong>내용</strong> : [[${vo.b_content}]]</li>
				</ul>
			  </section>
			</div>
	      </div> 
	    </article>
	  </div>
	</div>
</body>
</html>