<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Footer -->
				<div id="footer-wrapper">
					<div id="footer" class="container">
						<div class="row">
							<section class="col-4 col-12-narrower">
								<form method="post" action="#">
									<div class="row gtr-50">
										<div class="col-8 col-8-mobile">
											<h2 style="margin-left:25px; font-weight: 500; margin-bottom: 10px;">운동 TOP 10</h2>
											<ul>
												<li th:each="vo:${exerciseTop10List}"><a th:href="@{/exercise/detail(b_id=${vo.b_id})}" class="listlen" style="list-style-type: none;">[[${vo.b_title}]]</a></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
							<section class="col-4 col-12-narrower">
								<form method="post" action="#">
									<div class="row gtr-80">
										<div class="col-8 col-8-mobile">
											<h2 style="margin-left:25px; font-weight: 500; margin-bottom: 10px;">음악 TOP 10</h2>
											<ul >
												<li th:each="vo:${musicTop10List}"><a th:href="@{/music/detail(no=${vo.no})}" class="listlen" style="list-style-type: none;">[[${vo.title}]]</a></li>
											</ul>
										
										</div>
									</div>
								</form>
							</section>
						</div>
					</div>
					<div id="copyright" class="container">
						<ul class="menu">
							<li>제작자 : 서동현 </li><li>Design: <a href="https://github.com/dongdongsw">DongHyeonGIT</a></li>
						</ul>
					</div>
				</div>
</body>
</html>