<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="wrapper">
		<section class="container">
			<header class="major">
				<h2>음악 리스트</h2>
				<p>운동할 떄 자신에게 맞는 음악을 찾아보세요!</p>
			</header>
			<div class="row features">
				<section class="col-4 col-12-narrower feature"  th:each="vo:${list}">
					<div class="image-wrapper first">
						<a th:href="@{/music/detail(no=${vo.no})}" class="image featured">
							<img  th:src="${vo.poster}" height="240px"  onerror="this.onerror=null; this.src='/images/noimage.png';"/>
						</a>
					</div>
					<p style="margin-bottom: 0em;">[[${vo.title}]]</p>
					<p style="margin-bottom: 0em;">([[${vo.singer}]])</p>
				</section>
				
			</div>
			<ul class="actions major">
				<li th:if="${startPage > 1}"><a th:href="@{/music/list(page=${startPage-1})}">&laquo;</a></li>
				<li th:each="i:${#numbers.sequence(startPage, endPage)}" th:class="${curpage==i?'active':''}"><a th:href="@{/music/list(page=${i})}">[[${i}]]</a></li>
				<li th:if="${endPage < totalpage}"><a th:href="@{/music/list(page=${endPage+1})}">&raquo;</a></li>
				
			</ul>
		</section>
	</div>
</body>
</html>