<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="wrapper">
		<section class="container">
			<header class="major">
				<h2>운동화</h2>
				<p>나에게 맞는 운동화를 골라보세요</p>
			</header>
			<div class="row features">
				<section class="col-4 col-12-narrower feature"  th:each="vo:${list}">
					<div class="image-wrapper first">
						<a href="#" class="image featured">
							<img  th:src="${vo.img}"  referrerpolicy="no-referrer" onerror="this.onerror=null; this.src='/images/noimage.png';"/>
						</a>
					</div>
					<p>[[${vo.name_kor}]]</p>
				</section>
				
			</div>
			<ul class="actions major">
				<li th:if="${startPage > 1}"><a th:href="@{/shoes/list(page=${startPage-1})}">&laquo;</a></li>
				<li th:each="i:${#numbers.sequence(startPage, endPage)}" th:class="${curpage==i?'active':''}"><a th:href="@{/shoes/list(page=${i})}">[[${i}]]</a></li>
				<li th:if="${endPage < totalpage}"><a th:href="@{/shoes/list(page=${endPage+1})}">&raquo;</a></li>
				
			</ul>
		</section>
	</div>
</body>
</html>